Winform/HoaDonDienTu/VNPT/V6ThuePost_Xml - Nuocbd/ApiConnect/Web References/PortalService/PortalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listInvByCus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cusCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listInvByCusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusPattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cusCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusPatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listInvByCusPatternResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertForStoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForVerify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForVerifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertForVerifyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvPDFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvPDFNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listInvByCusFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusFkeyVNP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listInvByCusFkeyVNPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listInvByCusFkeyVNPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvPDFFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFFkeyNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvPDFFkeyNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvPDFFkeyNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyPattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyPatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewFkeyPatternResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewFkeyNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyNoPayPattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInvViewFkeyNoPayPatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInvViewFkeyNoPayPatternResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForStoreFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForStoreFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertForStoreFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForStoreFkeyPattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForStoreFkeyPatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertForStoreFkeyPatternResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForVerifyFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForVerifyFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertForVerifyFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForVerifyFkeyPattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertForVerifyFkeyPatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertForVerifyFkeyPatternResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkeyPattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkeyPatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvFkeyPatternResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkeyNoPay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkeyNoPayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvFkeyNoPayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkeyActionPattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadInvFkeyActionPatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downloadInvFkeyActionPatternResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDigest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cusCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDigestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDigestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmSiganture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="signValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmSigantureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmSigantureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cusCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStaffResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listInvByCusSoapIn">
    <wsdl:part name="parameters" element="tns:listInvByCus" />
  </wsdl:message>
  <wsdl:message name="listInvByCusSoapOut">
    <wsdl:part name="parameters" element="tns:listInvByCusResponse" />
  </wsdl:message>
  <wsdl:message name="listInvByCusPatternSoapIn">
    <wsdl:part name="parameters" element="tns:listInvByCusPattern" />
  </wsdl:message>
  <wsdl:message name="listInvByCusPatternSoapOut">
    <wsdl:part name="parameters" element="tns:listInvByCusPatternResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewSoapIn">
    <wsdl:part name="parameters" element="tns:getInvView" />
  </wsdl:message>
  <wsdl:message name="getInvViewSoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:getInvViewNoPay" />
  </wsdl:message>
  <wsdl:message name="getInvViewNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="convertForStoreSoapIn">
    <wsdl:part name="parameters" element="tns:convertForStore" />
  </wsdl:message>
  <wsdl:message name="convertForStoreSoapOut">
    <wsdl:part name="parameters" element="tns:convertForStoreResponse" />
  </wsdl:message>
  <wsdl:message name="convertForVerifySoapIn">
    <wsdl:part name="parameters" element="tns:convertForVerify" />
  </wsdl:message>
  <wsdl:message name="convertForVerifySoapOut">
    <wsdl:part name="parameters" element="tns:convertForVerifyResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvSoapIn">
    <wsdl:part name="parameters" element="tns:downloadInv" />
  </wsdl:message>
  <wsdl:message name="downloadInvSoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvNoPay" />
  </wsdl:message>
  <wsdl:message name="downloadInvNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFSoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvPDF" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFSoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvPDFResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvPDFNoPay" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvPDFNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="listInvByCusFkeySoapIn">
    <wsdl:part name="parameters" element="tns:listInvByCusFkey" />
  </wsdl:message>
  <wsdl:message name="listInvByCusFkeySoapOut">
    <wsdl:part name="parameters" element="tns:listInvByCusFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="listInvByCusFkeyVNPSoapIn">
    <wsdl:part name="parameters" element="tns:listInvByCusFkeyVNP" />
  </wsdl:message>
  <wsdl:message name="listInvByCusFkeyVNPSoapOut">
    <wsdl:part name="parameters" element="tns:listInvByCusFkeyVNPResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFFkeySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvPDFFkey" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFFkeySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvPDFFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFFkeyNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvPDFFkeyNoPay" />
  </wsdl:message>
  <wsdl:message name="downloadInvPDFFkeyNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvPDFFkeyNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeySoapIn">
    <wsdl:part name="parameters" element="tns:getInvViewFkey" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeySoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeyPatternSoapIn">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyPattern" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeyPatternSoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyPatternResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeyNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyNoPay" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeyNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeyNoPayPatternSoapIn">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyNoPayPattern" />
  </wsdl:message>
  <wsdl:message name="getInvViewFkeyNoPayPatternSoapOut">
    <wsdl:part name="parameters" element="tns:getInvViewFkeyNoPayPatternResponse" />
  </wsdl:message>
  <wsdl:message name="convertForStoreFkeySoapIn">
    <wsdl:part name="parameters" element="tns:convertForStoreFkey" />
  </wsdl:message>
  <wsdl:message name="convertForStoreFkeySoapOut">
    <wsdl:part name="parameters" element="tns:convertForStoreFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="convertForStoreFkeyPatternSoapIn">
    <wsdl:part name="parameters" element="tns:convertForStoreFkeyPattern" />
  </wsdl:message>
  <wsdl:message name="convertForStoreFkeyPatternSoapOut">
    <wsdl:part name="parameters" element="tns:convertForStoreFkeyPatternResponse" />
  </wsdl:message>
  <wsdl:message name="convertForVerifyFkeySoapIn">
    <wsdl:part name="parameters" element="tns:convertForVerifyFkey" />
  </wsdl:message>
  <wsdl:message name="convertForVerifyFkeySoapOut">
    <wsdl:part name="parameters" element="tns:convertForVerifyFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="convertForVerifyFkeyPatternSoapIn">
    <wsdl:part name="parameters" element="tns:convertForVerifyFkeyPattern" />
  </wsdl:message>
  <wsdl:message name="convertForVerifyFkeyPatternSoapOut">
    <wsdl:part name="parameters" element="tns:convertForVerifyFkeyPatternResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvFkey" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeyPatternSoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvFkeyPattern" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeyPatternSoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvFkeyPatternResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeyNoPaySoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvFkeyNoPay" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeyNoPaySoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvFkeyNoPayResponse" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeyActionPatternSoapIn">
    <wsdl:part name="parameters" element="tns:downloadInvFkeyActionPattern" />
  </wsdl:message>
  <wsdl:message name="downloadInvFkeyActionPatternSoapOut">
    <wsdl:part name="parameters" element="tns:downloadInvFkeyActionPatternResponse" />
  </wsdl:message>
  <wsdl:message name="getDigestSoapIn">
    <wsdl:part name="parameters" element="tns:getDigest" />
  </wsdl:message>
  <wsdl:message name="getDigestSoapOut">
    <wsdl:part name="parameters" element="tns:getDigestResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmSigantureSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmSiganture" />
  </wsdl:message>
  <wsdl:message name="ConfirmSigantureSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmSigantureResponse" />
  </wsdl:message>
  <wsdl:message name="getCusSoapIn">
    <wsdl:part name="parameters" element="tns:getCus" />
  </wsdl:message>
  <wsdl:message name="getCusSoapOut">
    <wsdl:part name="parameters" element="tns:getCusResponse" />
  </wsdl:message>
  <wsdl:message name="getStaffSoapIn">
    <wsdl:part name="parameters" element="tns:getStaff" />
  </wsdl:message>
  <wsdl:message name="getStaffSoapOut">
    <wsdl:part name="parameters" element="tns:getStaffResponse" />
  </wsdl:message>
  <wsdl:portType name="PortalServiceSoap">
    <wsdl:operation name="listInvByCus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">listInvByCus</wsdl:documentation>
      <wsdl:input message="tns:listInvByCusSoapIn" />
      <wsdl:output message="tns:listInvByCusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listInvByCus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">listInvByCusPattern</wsdl:documentation>
      <wsdl:input name="listInvByCusPattern" message="tns:listInvByCusPatternSoapIn" />
      <wsdl:output name="listInvByCusPattern" message="tns:listInvByCusPatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvView">
      <wsdl:input message="tns:getInvViewSoapIn" />
      <wsdl:output message="tns:getInvViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvViewNoPay">
      <wsdl:input message="tns:getInvViewNoPaySoapIn" />
      <wsdl:output message="tns:getInvViewNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertForStore">
      <wsdl:input message="tns:convertForStoreSoapIn" />
      <wsdl:output message="tns:convertForStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertForVerify">
      <wsdl:input message="tns:convertForVerifySoapIn" />
      <wsdl:output message="tns:convertForVerifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInv">
      <wsdl:input message="tns:downloadInvSoapIn" />
      <wsdl:output message="tns:downloadInvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvNoPay">
      <wsdl:input message="tns:downloadInvNoPaySoapIn" />
      <wsdl:output message="tns:downloadInvNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDF">
      <wsdl:input message="tns:downloadInvPDFSoapIn" />
      <wsdl:output message="tns:downloadInvPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFNoPay">
      <wsdl:input message="tns:downloadInvPDFNoPaySoapIn" />
      <wsdl:output message="tns:downloadInvPDFNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkey">
      <wsdl:input message="tns:listInvByCusFkeySoapIn" />
      <wsdl:output message="tns:listInvByCusFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkeyVNP">
      <wsdl:input message="tns:listInvByCusFkeyVNPSoapIn" />
      <wsdl:output message="tns:listInvByCusFkeyVNPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkey">
      <wsdl:input message="tns:downloadInvPDFFkeySoapIn" />
      <wsdl:output message="tns:downloadInvPDFFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkeyNoPay">
      <wsdl:input message="tns:downloadInvPDFFkeyNoPaySoapIn" />
      <wsdl:output message="tns:downloadInvPDFFkeyNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">getInvViewFkey</wsdl:documentation>
      <wsdl:input message="tns:getInvViewFkeySoapIn" />
      <wsdl:output message="tns:getInvViewFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">getInvViewFkeyPattern</wsdl:documentation>
      <wsdl:input name="getInvViewFkeyPattern" message="tns:getInvViewFkeyPatternSoapIn" />
      <wsdl:output name="getInvViewFkeyPattern" message="tns:getInvViewFkeyPatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyNoPay">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">getInvViewFkeyNoPay</wsdl:documentation>
      <wsdl:input message="tns:getInvViewFkeyNoPaySoapIn" />
      <wsdl:output message="tns:getInvViewFkeyNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyNoPay">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">getInvViewFkeyNoPayPattern</wsdl:documentation>
      <wsdl:input name="getInvViewFkeyNoPayPattern" message="tns:getInvViewFkeyNoPayPatternSoapIn" />
      <wsdl:output name="getInvViewFkeyNoPayPattern" message="tns:getInvViewFkeyNoPayPatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertForStoreFkey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">convertForStoreFkey</wsdl:documentation>
      <wsdl:input message="tns:convertForStoreFkeySoapIn" />
      <wsdl:output message="tns:convertForStoreFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertForStoreFkey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">convertForStoreFkeyPattern</wsdl:documentation>
      <wsdl:input name="convertForStoreFkeyPattern" message="tns:convertForStoreFkeyPatternSoapIn" />
      <wsdl:output name="convertForStoreFkeyPattern" message="tns:convertForStoreFkeyPatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertForVerifyFkey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">convertForVerifyFkey</wsdl:documentation>
      <wsdl:input message="tns:convertForVerifyFkeySoapIn" />
      <wsdl:output message="tns:convertForVerifyFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertForVerifyFkey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">convertForVerifyFkeyPattern</wsdl:documentation>
      <wsdl:input name="convertForVerifyFkeyPattern" message="tns:convertForVerifyFkeyPatternSoapIn" />
      <wsdl:output name="convertForVerifyFkeyPattern" message="tns:convertForVerifyFkeyPatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">downloadInvFkey</wsdl:documentation>
      <wsdl:input message="tns:downloadInvFkeySoapIn" />
      <wsdl:output message="tns:downloadInvFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">downloadInvFkeyPattern</wsdl:documentation>
      <wsdl:input name="downloadInvFkeyPattern" message="tns:downloadInvFkeyPatternSoapIn" />
      <wsdl:output name="downloadInvFkeyPattern" message="tns:downloadInvFkeyPatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkeyNoPay">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">downloadInvFkeyNoPay</wsdl:documentation>
      <wsdl:input message="tns:downloadInvFkeyNoPaySoapIn" />
      <wsdl:output message="tns:downloadInvFkeyNoPaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkeyNoPay">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">downloadInvFkeyActionPattern</wsdl:documentation>
      <wsdl:input name="downloadInvFkeyActionPattern" message="tns:downloadInvFkeyActionPatternSoapIn" />
      <wsdl:output name="downloadInvFkeyActionPattern" message="tns:downloadInvFkeyActionPatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDigest">
      <wsdl:input message="tns:getDigestSoapIn" />
      <wsdl:output message="tns:getDigestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmSiganture">
      <wsdl:input message="tns:ConfirmSigantureSoapIn" />
      <wsdl:output message="tns:ConfirmSigantureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCus">
      <wsdl:input message="tns:getCusSoapIn" />
      <wsdl:output message="tns:getCusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStaff">
      <wsdl:input message="tns:getStaffSoapIn" />
      <wsdl:output message="tns:getStaffSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortalServiceSoap" type="tns:PortalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listInvByCus">
      <soap:operation soapAction="http://tempuri.org/listInvByCus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvByCus">
      <soap:operation soapAction="http://tempuri.org/listInvByCusPattern" style="document" />
      <wsdl:input name="listInvByCusPattern">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listInvByCusPattern">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvView">
      <soap:operation soapAction="http://tempuri.org/getInvView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewNoPay">
      <soap:operation soapAction="http://tempuri.org/getInvViewNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForStore">
      <soap:operation soapAction="http://tempuri.org/convertForStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForVerify">
      <soap:operation soapAction="http://tempuri.org/convertForVerify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInv">
      <soap:operation soapAction="http://tempuri.org/downloadInv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvNoPay">
      <soap:operation soapAction="http://tempuri.org/downloadInvNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDF">
      <soap:operation soapAction="http://tempuri.org/downloadInvPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFNoPay">
      <soap:operation soapAction="http://tempuri.org/downloadInvPDFNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkey">
      <soap:operation soapAction="http://tempuri.org/listInvByCusFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkeyVNP">
      <soap:operation soapAction="http://tempuri.org/listInvByCusFkeyVNP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkey">
      <soap:operation soapAction="http://tempuri.org/downloadInvPDFFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkeyNoPay">
      <soap:operation soapAction="http://tempuri.org/downloadInvPDFFkeyNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkey">
      <soap:operation soapAction="http://tempuri.org/getInvViewFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkey">
      <soap:operation soapAction="http://tempuri.org/getInvViewFkeyPattern" style="document" />
      <wsdl:input name="getInvViewFkeyPattern">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInvViewFkeyPattern">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyNoPay">
      <soap:operation soapAction="http://tempuri.org/getInvViewFkeyNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyNoPay">
      <soap:operation soapAction="http://tempuri.org/getInvViewFkeyNoPayPattern" style="document" />
      <wsdl:input name="getInvViewFkeyNoPayPattern">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInvViewFkeyNoPayPattern">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForStoreFkey">
      <soap:operation soapAction="http://tempuri.org/convertForStoreFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForStoreFkey">
      <soap:operation soapAction="http://tempuri.org/convertForStoreFkeyPattern" style="document" />
      <wsdl:input name="convertForStoreFkeyPattern">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="convertForStoreFkeyPattern">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForVerifyFkey">
      <soap:operation soapAction="http://tempuri.org/convertForVerifyFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForVerifyFkey">
      <soap:operation soapAction="http://tempuri.org/convertForVerifyFkeyPattern" style="document" />
      <wsdl:input name="convertForVerifyFkeyPattern">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="convertForVerifyFkeyPattern">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkey">
      <soap:operation soapAction="http://tempuri.org/downloadInvFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkey">
      <soap:operation soapAction="http://tempuri.org/downloadInvFkeyPattern" style="document" />
      <wsdl:input name="downloadInvFkeyPattern">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="downloadInvFkeyPattern">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkeyNoPay">
      <soap:operation soapAction="http://tempuri.org/downloadInvFkeyNoPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkeyNoPay">
      <soap:operation soapAction="http://tempuri.org/downloadInvFkeyActionPattern" style="document" />
      <wsdl:input name="downloadInvFkeyActionPattern">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="downloadInvFkeyActionPattern">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDigest">
      <soap:operation soapAction="http://tempuri.org/getDigest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmSiganture">
      <soap:operation soapAction="http://tempuri.org/ConfirmSiganture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCus">
      <soap:operation soapAction="http://tempuri.org/getCus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaff">
      <soap:operation soapAction="http://tempuri.org/getStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PortalServiceSoap12" type="tns:PortalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listInvByCus">
      <soap12:operation soapAction="http://tempuri.org/listInvByCus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvByCus">
      <soap12:operation soapAction="http://tempuri.org/listInvByCusPattern" style="document" />
      <wsdl:input name="listInvByCusPattern">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listInvByCusPattern">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvView">
      <soap12:operation soapAction="http://tempuri.org/getInvView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewNoPay">
      <soap12:operation soapAction="http://tempuri.org/getInvViewNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForStore">
      <soap12:operation soapAction="http://tempuri.org/convertForStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForVerify">
      <soap12:operation soapAction="http://tempuri.org/convertForVerify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInv">
      <soap12:operation soapAction="http://tempuri.org/downloadInv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvNoPay">
      <soap12:operation soapAction="http://tempuri.org/downloadInvNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDF">
      <soap12:operation soapAction="http://tempuri.org/downloadInvPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFNoPay">
      <soap12:operation soapAction="http://tempuri.org/downloadInvPDFNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkey">
      <soap12:operation soapAction="http://tempuri.org/listInvByCusFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listInvByCusFkeyVNP">
      <soap12:operation soapAction="http://tempuri.org/listInvByCusFkeyVNP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkey">
      <soap12:operation soapAction="http://tempuri.org/downloadInvPDFFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvPDFFkeyNoPay">
      <soap12:operation soapAction="http://tempuri.org/downloadInvPDFFkeyNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkey">
      <soap12:operation soapAction="http://tempuri.org/getInvViewFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkey">
      <soap12:operation soapAction="http://tempuri.org/getInvViewFkeyPattern" style="document" />
      <wsdl:input name="getInvViewFkeyPattern">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInvViewFkeyPattern">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyNoPay">
      <soap12:operation soapAction="http://tempuri.org/getInvViewFkeyNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvViewFkeyNoPay">
      <soap12:operation soapAction="http://tempuri.org/getInvViewFkeyNoPayPattern" style="document" />
      <wsdl:input name="getInvViewFkeyNoPayPattern">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInvViewFkeyNoPayPattern">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForStoreFkey">
      <soap12:operation soapAction="http://tempuri.org/convertForStoreFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForStoreFkey">
      <soap12:operation soapAction="http://tempuri.org/convertForStoreFkeyPattern" style="document" />
      <wsdl:input name="convertForStoreFkeyPattern">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="convertForStoreFkeyPattern">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForVerifyFkey">
      <soap12:operation soapAction="http://tempuri.org/convertForVerifyFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertForVerifyFkey">
      <soap12:operation soapAction="http://tempuri.org/convertForVerifyFkeyPattern" style="document" />
      <wsdl:input name="convertForVerifyFkeyPattern">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="convertForVerifyFkeyPattern">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkey">
      <soap12:operation soapAction="http://tempuri.org/downloadInvFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkey">
      <soap12:operation soapAction="http://tempuri.org/downloadInvFkeyPattern" style="document" />
      <wsdl:input name="downloadInvFkeyPattern">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="downloadInvFkeyPattern">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkeyNoPay">
      <soap12:operation soapAction="http://tempuri.org/downloadInvFkeyNoPay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadInvFkeyNoPay">
      <soap12:operation soapAction="http://tempuri.org/downloadInvFkeyActionPattern" style="document" />
      <wsdl:input name="downloadInvFkeyActionPattern">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="downloadInvFkeyActionPattern">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDigest">
      <soap12:operation soapAction="http://tempuri.org/getDigest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmSiganture">
      <soap12:operation soapAction="http://tempuri.org/ConfirmSiganture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCus">
      <soap12:operation soapAction="http://tempuri.org/getCus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaff">
      <soap12:operation soapAction="http://tempuri.org/getStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortalService">
    <wsdl:port name="PortalServiceSoap" binding="tns:PortalServiceSoap">
      <soap:address location="https://nuocbdgservicedemo.vnpt-invoice.com.vn/PortalService.asmx" />
    </wsdl:port>
    <wsdl:port name="PortalServiceSoap12" binding="tns:PortalServiceSoap12">
      <soap12:address location="https://nuocbdgservicedemo.vnpt-invoice.com.vn/PortalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>