Services/V6ServiceClients_Customer/Service References/CustomerService/service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/V6Soft.Services.Wcf.Common.Models" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/V6Soft.Common.ModelFactory" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddModelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModelIndex" type="xs:unsignedShort" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/V6Soft.Services.Wcf.Common.Models" minOccurs="0" name="RuntimeModel" nillable="true" type="q1:RuntimeModelDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="NewUID" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyModelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModelIndex" type="xs:unsignedShort" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/V6Soft.Services.Wcf.Common.Models" minOccurs="0" name="RuntimeModel" nillable="true" type="q3:RuntimeModelDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyModelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModelIndex" type="xs:unsignedShort" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/V6Soft.Common.ModelFactory" minOccurs="0" name="Criteria" nillable="true" type="q5:ArrayOfSearchCriterion" />
        <xs:element minOccurs="0" name="ModelIndex" type="xs:unsignedShort" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutputFields" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="PageSize" type="xs:unsignedShort" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UID" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/V6Soft.Services.Wcf.Common.Models" minOccurs="0" name="DynamicModels" nillable="true" type="q8:ArrayOfDynamicModelDC" />
        <xs:element minOccurs="0" name="Total" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>