Services/V6ServiceClients_Customer/Service References/DefinitionService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/V6Soft.Services.Wcf.Common.Models" />
  <xs:element name="GetModelDefinitionsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelDefinitionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/V6Soft.Services.Wcf.Common.Models" minOccurs="0" name="ModelDefinition" nillable="true" type="q1:ModelDefinitionDC" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/V6Soft.Services.Wcf.Common.Models" minOccurs="0" name="ModelDefinitions" nillable="true" type="q2:ArrayOfModelDefinitionDC" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/V6Soft.Services.Wcf.Common.Models" minOccurs="0" name="ModelMaps" nillable="true" type="q3:ArrayOfModelMapDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>