Services/V6ServiceClients_Customer/Service References/DefinitionService/V6Soft.Services.Wcf.Common.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/V6Soft.Services.Wcf.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/V6Soft.Services.Wcf.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/V6Soft.Common.ModelFactory" />
  <xs:complexType name="ModelDefinitionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:ArrayOfModelFieldDefinitionDC" />
      <xs:element minOccurs="0" name="Index" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelDefinitionDC" nillable="true" type="tns:ModelDefinitionDC" />
  <xs:complexType name="ArrayOfModelFieldDefinitionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelFieldDefinitionDC" nillable="true" type="tns:ModelFieldDefinitionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelFieldDefinitionDC" nillable="true" type="tns:ArrayOfModelFieldDefinitionDC" />
  <xs:complexType name="ModelFieldDefinitionDC">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Constraints" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelFieldDefinitionDC" nillable="true" type="tns:ModelFieldDefinitionDC" />
  <xs:complexType name="LengthConstraintDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxLength" type="xs:int" />
      <xs:element minOccurs="0" name="MinLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LengthConstraintDC" nillable="true" type="tns:LengthConstraintDC" />
  <xs:complexType name="NotNullFieldConstraintDC">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="NotNullFieldConstraintDC" nillable="true" type="tns:NotNullFieldConstraintDC" />
  <xs:complexType name="ArrayOfModelDefinitionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelDefinitionDC" nillable="true" type="tns:ModelDefinitionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelDefinitionDC" nillable="true" type="tns:ArrayOfModelDefinitionDC" />
  <xs:complexType name="ArrayOfModelMapDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelMapDC" nillable="true" type="tns:ModelMapDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelMapDC" nillable="true" type="tns:ArrayOfModelMapDC" />
  <xs:complexType name="ModelMapDC">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FieldGroups" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/V6Soft.Common.ModelFactory" minOccurs="0" name="FieldMappings" nillable="true" type="q3:ArrayOfFieldMapping" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/V6Soft.Common.ModelFactory" minOccurs="0" name="NameMapping" nillable="true" type="q4:NameMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelMapDC" nillable="true" type="tns:ModelMapDC" />
</xs:schema>