Winform/HoaDonDienTu/VNPT/V6ThuePost_Xml/ApiConnect/Web References/BusinessService/BusinessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getSerialByPattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSerialByPatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSerialByPatternResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReplaceInvoie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ACpass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlInvData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Attachfile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="convert" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReplaceInvoieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReplaceInvoieResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="replaceInv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ACpass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlInvData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="convert" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="replaceInvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="replaceInvResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adjustInv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ACpass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlInvData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="convert" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adjustInvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="adjustInvResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdjustInvoie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ACpass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlInvData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AttachFile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="convert" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdjustInvoieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdjustInvoieResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelInv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ACpass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelInvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cancelInvResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelInvDetailFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ACpass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lstFkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="checkPayment" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelInvDetailFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cancelInvDetailFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reportInvUsed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quarter" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="currentQuater" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reportInvUsedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reportInvUsedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reportMonth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="currentQuater" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reportMonthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reportMonthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deliverInvFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstFkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deliverInvFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deliverInvFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deliverInv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstInvToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deliverInvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deliverInvResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstInvToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="confirmPaymentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmPaymentDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstInvToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmPaymentDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="confirmPaymentDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="unConfirmPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstInvToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="unConfirmPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="unConfirmPaymentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmPaymentFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstFkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmPaymentFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="confirmPaymentFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmPaymentDetailFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstFkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmPaymentDetailFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="confirmPaymentDetailFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmPaymentFkeyVNP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstFkey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isEmail" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="confirmPaymentFkeyVNPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="confirmPaymentFkeyVNPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnConfirmPaymentFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstFkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnConfirmPaymentFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnConfirmPaymentFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnConfirmPaymentFkeyVNP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstFkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnConfirmPaymentFkeyVNPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnConfirmPaymentFkeyVNPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnconfirmPaymentDetailFkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstFkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnconfirmPaymentDetailFkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnconfirmPaymentDetailFkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getSerialByPatternSoapIn">
    <wsdl:part name="parameters" element="tns:getSerialByPattern" />
  </wsdl:message>
  <wsdl:message name="getSerialByPatternSoapOut">
    <wsdl:part name="parameters" element="tns:getSerialByPatternResponse" />
  </wsdl:message>
  <wsdl:message name="ReplaceInvoieSoapIn">
    <wsdl:part name="parameters" element="tns:ReplaceInvoie" />
  </wsdl:message>
  <wsdl:message name="ReplaceInvoieSoapOut">
    <wsdl:part name="parameters" element="tns:ReplaceInvoieResponse" />
  </wsdl:message>
  <wsdl:message name="replaceInvSoapIn">
    <wsdl:part name="parameters" element="tns:replaceInv" />
  </wsdl:message>
  <wsdl:message name="replaceInvSoapOut">
    <wsdl:part name="parameters" element="tns:replaceInvResponse" />
  </wsdl:message>
  <wsdl:message name="adjustInvSoapIn">
    <wsdl:part name="parameters" element="tns:adjustInv" />
  </wsdl:message>
  <wsdl:message name="adjustInvSoapOut">
    <wsdl:part name="parameters" element="tns:adjustInvResponse" />
  </wsdl:message>
  <wsdl:message name="AdjustInvoieSoapIn">
    <wsdl:part name="parameters" element="tns:AdjustInvoie" />
  </wsdl:message>
  <wsdl:message name="AdjustInvoieSoapOut">
    <wsdl:part name="parameters" element="tns:AdjustInvoieResponse" />
  </wsdl:message>
  <wsdl:message name="cancelInvSoapIn">
    <wsdl:part name="parameters" element="tns:cancelInv" />
  </wsdl:message>
  <wsdl:message name="cancelInvSoapOut">
    <wsdl:part name="parameters" element="tns:cancelInvResponse" />
  </wsdl:message>
  <wsdl:message name="cancelInvDetailFkeySoapIn">
    <wsdl:part name="parameters" element="tns:cancelInvDetailFkey" />
  </wsdl:message>
  <wsdl:message name="cancelInvDetailFkeySoapOut">
    <wsdl:part name="parameters" element="tns:cancelInvDetailFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="reportInvUsedSoapIn">
    <wsdl:part name="parameters" element="tns:reportInvUsed" />
  </wsdl:message>
  <wsdl:message name="reportInvUsedSoapOut">
    <wsdl:part name="parameters" element="tns:reportInvUsedResponse" />
  </wsdl:message>
  <wsdl:message name="reportMonthSoapIn">
    <wsdl:part name="parameters" element="tns:reportMonth" />
  </wsdl:message>
  <wsdl:message name="reportMonthSoapOut">
    <wsdl:part name="parameters" element="tns:reportMonthResponse" />
  </wsdl:message>
  <wsdl:message name="deliverInvFkeySoapIn">
    <wsdl:part name="parameters" element="tns:deliverInvFkey" />
  </wsdl:message>
  <wsdl:message name="deliverInvFkeySoapOut">
    <wsdl:part name="parameters" element="tns:deliverInvFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="deliverInvSoapIn">
    <wsdl:part name="parameters" element="tns:deliverInv" />
  </wsdl:message>
  <wsdl:message name="deliverInvSoapOut">
    <wsdl:part name="parameters" element="tns:deliverInvResponse" />
  </wsdl:message>
  <wsdl:message name="confirmPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:confirmPayment" />
  </wsdl:message>
  <wsdl:message name="confirmPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:confirmPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="confirmPaymentDetailSoapIn">
    <wsdl:part name="parameters" element="tns:confirmPaymentDetail" />
  </wsdl:message>
  <wsdl:message name="confirmPaymentDetailSoapOut">
    <wsdl:part name="parameters" element="tns:confirmPaymentDetailResponse" />
  </wsdl:message>
  <wsdl:message name="unConfirmPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:unConfirmPayment" />
  </wsdl:message>
  <wsdl:message name="unConfirmPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:unConfirmPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="confirmPaymentFkeySoapIn">
    <wsdl:part name="parameters" element="tns:confirmPaymentFkey" />
  </wsdl:message>
  <wsdl:message name="confirmPaymentFkeySoapOut">
    <wsdl:part name="parameters" element="tns:confirmPaymentFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="confirmPaymentDetailFkeySoapIn">
    <wsdl:part name="parameters" element="tns:confirmPaymentDetailFkey" />
  </wsdl:message>
  <wsdl:message name="confirmPaymentDetailFkeySoapOut">
    <wsdl:part name="parameters" element="tns:confirmPaymentDetailFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="confirmPaymentFkeyVNPSoapIn">
    <wsdl:part name="parameters" element="tns:confirmPaymentFkeyVNP" />
  </wsdl:message>
  <wsdl:message name="confirmPaymentFkeyVNPSoapOut">
    <wsdl:part name="parameters" element="tns:confirmPaymentFkeyVNPResponse" />
  </wsdl:message>
  <wsdl:message name="UnConfirmPaymentFkeySoapIn">
    <wsdl:part name="parameters" element="tns:UnConfirmPaymentFkey" />
  </wsdl:message>
  <wsdl:message name="UnConfirmPaymentFkeySoapOut">
    <wsdl:part name="parameters" element="tns:UnConfirmPaymentFkeyResponse" />
  </wsdl:message>
  <wsdl:message name="UnConfirmPaymentFkeyVNPSoapIn">
    <wsdl:part name="parameters" element="tns:UnConfirmPaymentFkeyVNP" />
  </wsdl:message>
  <wsdl:message name="UnConfirmPaymentFkeyVNPSoapOut">
    <wsdl:part name="parameters" element="tns:UnConfirmPaymentFkeyVNPResponse" />
  </wsdl:message>
  <wsdl:message name="UnconfirmPaymentDetailFkeySoapIn">
    <wsdl:part name="parameters" element="tns:UnconfirmPaymentDetailFkey" />
  </wsdl:message>
  <wsdl:message name="UnconfirmPaymentDetailFkeySoapOut">
    <wsdl:part name="parameters" element="tns:UnconfirmPaymentDetailFkeyResponse" />
  </wsdl:message>
  <wsdl:portType name="BusinessServiceSoap">
    <wsdl:operation name="getSerialByPattern">
      <wsdl:input message="tns:getSerialByPatternSoapIn" />
      <wsdl:output message="tns:getSerialByPatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReplaceInvoie">
      <wsdl:input message="tns:ReplaceInvoieSoapIn" />
      <wsdl:output message="tns:ReplaceInvoieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="replaceInv">
      <wsdl:input message="tns:replaceInvSoapIn" />
      <wsdl:output message="tns:replaceInvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="adjustInv">
      <wsdl:input message="tns:adjustInvSoapIn" />
      <wsdl:output message="tns:adjustInvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdjustInvoie">
      <wsdl:input message="tns:AdjustInvoieSoapIn" />
      <wsdl:output message="tns:AdjustInvoieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancelInv">
      <wsdl:input message="tns:cancelInvSoapIn" />
      <wsdl:output message="tns:cancelInvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancelInvDetailFkey">
      <wsdl:input message="tns:cancelInvDetailFkeySoapIn" />
      <wsdl:output message="tns:cancelInvDetailFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reportInvUsed">
      <wsdl:input message="tns:reportInvUsedSoapIn" />
      <wsdl:output message="tns:reportInvUsedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reportMonth">
      <wsdl:input message="tns:reportMonthSoapIn" />
      <wsdl:output message="tns:reportMonthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deliverInvFkey">
      <wsdl:input message="tns:deliverInvFkeySoapIn" />
      <wsdl:output message="tns:deliverInvFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deliverInv">
      <wsdl:input message="tns:deliverInvSoapIn" />
      <wsdl:output message="tns:deliverInvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="confirmPayment">
      <wsdl:input message="tns:confirmPaymentSoapIn" />
      <wsdl:output message="tns:confirmPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentDetail">
      <wsdl:input message="tns:confirmPaymentDetailSoapIn" />
      <wsdl:output message="tns:confirmPaymentDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="unConfirmPayment">
      <wsdl:input message="tns:unConfirmPaymentSoapIn" />
      <wsdl:output message="tns:unConfirmPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentFkey">
      <wsdl:input message="tns:confirmPaymentFkeySoapIn" />
      <wsdl:output message="tns:confirmPaymentFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentDetailFkey">
      <wsdl:input message="tns:confirmPaymentDetailFkeySoapIn" />
      <wsdl:output message="tns:confirmPaymentDetailFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentFkeyVNP">
      <wsdl:input message="tns:confirmPaymentFkeyVNPSoapIn" />
      <wsdl:output message="tns:confirmPaymentFkeyVNPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnConfirmPaymentFkey">
      <wsdl:input message="tns:UnConfirmPaymentFkeySoapIn" />
      <wsdl:output message="tns:UnConfirmPaymentFkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnConfirmPaymentFkeyVNP">
      <wsdl:input message="tns:UnConfirmPaymentFkeyVNPSoapIn" />
      <wsdl:output message="tns:UnConfirmPaymentFkeyVNPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnconfirmPaymentDetailFkey">
      <wsdl:input message="tns:UnconfirmPaymentDetailFkeySoapIn" />
      <wsdl:output message="tns:UnconfirmPaymentDetailFkeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusinessServiceSoap" type="tns:BusinessServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSerialByPattern">
      <soap:operation soapAction="http://tempuri.org/getSerialByPattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplaceInvoie">
      <soap:operation soapAction="http://tempuri.org/ReplaceInvoie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="replaceInv">
      <soap:operation soapAction="http://tempuri.org/replaceInv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adjustInv">
      <soap:operation soapAction="http://tempuri.org/adjustInv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdjustInvoie">
      <soap:operation soapAction="http://tempuri.org/AdjustInvoie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelInv">
      <soap:operation soapAction="http://tempuri.org/cancelInv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelInvDetailFkey">
      <soap:operation soapAction="http://tempuri.org/cancelInvDetailFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportInvUsed">
      <soap:operation soapAction="http://tempuri.org/reportInvUsed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportMonth">
      <soap:operation soapAction="http://tempuri.org/reportMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliverInvFkey">
      <soap:operation soapAction="http://tempuri.org/deliverInvFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliverInv">
      <soap:operation soapAction="http://tempuri.org/deliverInv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmPayment">
      <soap:operation soapAction="http://tempuri.org/confirmPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentDetail">
      <soap:operation soapAction="http://tempuri.org/confirmPaymentDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unConfirmPayment">
      <soap:operation soapAction="http://tempuri.org/unConfirmPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentFkey">
      <soap:operation soapAction="http://tempuri.org/confirmPaymentFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentDetailFkey">
      <soap:operation soapAction="http://tempuri.org/confirmPaymentDetailFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentFkeyVNP">
      <soap:operation soapAction="http://tempuri.org/confirmPaymentFkeyVNP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnConfirmPaymentFkey">
      <soap:operation soapAction="http://tempuri.org/UnConfirmPaymentFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnConfirmPaymentFkeyVNP">
      <soap:operation soapAction="http://tempuri.org/UnConfirmPaymentFkeyVNP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnconfirmPaymentDetailFkey">
      <soap:operation soapAction="http://tempuri.org/UnconfirmPaymentDetailFkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BusinessServiceSoap12" type="tns:BusinessServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSerialByPattern">
      <soap12:operation soapAction="http://tempuri.org/getSerialByPattern" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplaceInvoie">
      <soap12:operation soapAction="http://tempuri.org/ReplaceInvoie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="replaceInv">
      <soap12:operation soapAction="http://tempuri.org/replaceInv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adjustInv">
      <soap12:operation soapAction="http://tempuri.org/adjustInv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdjustInvoie">
      <soap12:operation soapAction="http://tempuri.org/AdjustInvoie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelInv">
      <soap12:operation soapAction="http://tempuri.org/cancelInv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelInvDetailFkey">
      <soap12:operation soapAction="http://tempuri.org/cancelInvDetailFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportInvUsed">
      <soap12:operation soapAction="http://tempuri.org/reportInvUsed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportMonth">
      <soap12:operation soapAction="http://tempuri.org/reportMonth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliverInvFkey">
      <soap12:operation soapAction="http://tempuri.org/deliverInvFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliverInv">
      <soap12:operation soapAction="http://tempuri.org/deliverInv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmPayment">
      <soap12:operation soapAction="http://tempuri.org/confirmPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentDetail">
      <soap12:operation soapAction="http://tempuri.org/confirmPaymentDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unConfirmPayment">
      <soap12:operation soapAction="http://tempuri.org/unConfirmPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentFkey">
      <soap12:operation soapAction="http://tempuri.org/confirmPaymentFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentDetailFkey">
      <soap12:operation soapAction="http://tempuri.org/confirmPaymentDetailFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmPaymentFkeyVNP">
      <soap12:operation soapAction="http://tempuri.org/confirmPaymentFkeyVNP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnConfirmPaymentFkey">
      <soap12:operation soapAction="http://tempuri.org/UnConfirmPaymentFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnConfirmPaymentFkeyVNP">
      <soap12:operation soapAction="http://tempuri.org/UnConfirmPaymentFkeyVNP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnconfirmPaymentDetailFkey">
      <soap12:operation soapAction="http://tempuri.org/UnconfirmPaymentDetailFkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessService">
    <wsdl:port name="BusinessServiceSoap" binding="tns:BusinessServiceSoap">
      <soap:address location="https://nuocbdgservicedemo.vnpt-invoice.com.vn/BusinessService.asmx" />
    </wsdl:port>
    <wsdl:port name="BusinessServiceSoap12" binding="tns:BusinessServiceSoap12">
      <soap12:address location="https://nuocbdgservicedemo.vnpt-invoice.com.vn/BusinessService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>